<div *ngIf="show1" class="show1">

  <div class="box">
    <div class="imgBx">
        <img src="../assets/six/b1.JPG">
    </div>
    <div class="content">
<h2><br><span>To the world you may be just a teacher but to your students you are a hero.</span></h2>
    </div>
</div>
<div class="box">
    <div class="imgBx">
        <img src="../assets/six/b2.JPG">
    </div>
    <div class="content">
<h2><br><span>Dear Teacher you are The Best because you brought out The Best in US.</span></h2>

    </div>
</div>
<div class="box">
    <div class="imgBx">
        <img src="../assets/six/b3.JPG">
    </div>
    <div class="content">
        <h2><br><span>A truly MENTOR is hard to find,difficult to part with and impossible to forget.</span></h2>

    </div>
</div>

<button class="btn1" *ngIf="btnshow" (click)="showfun()" >click here</button>


</div>


<div *ngIf="show2" class="show2">
<div class="b">
    <section>
      <div class="set">
          <div><img src="../assets/five/yellow.png"></div>
      <div><img src="../assets/five/blue.png"></div>
      <div><img src="../assets/five/green.png"></div>
      <div><img src="../assets/five/orange.png"></div>
      <div><img src="../assets/five/yellow.png"></div>
      <div><img src="../assets/five/blue.png"></div>
      <div><img src="../assets/five/green.png"></div>
      <div><img src="../assets/five/orange.png"></div>
      </div>
      <div class="set set2">
          <!-- <div><img src="../assets/yellow.png"></div> -->
          <!-- <div><img src="../assets/blue.png"></div> -->
          <div><img src="../assets/five/green.png"></div>
          <div><img src="../assets/five/orange.png"></div>
          <!-- <div><img src="../assets/yellow.png"></div> -->
          <!-- <div><img src="../assets/blue.png"></div> -->
          <div><img src="../assets/five/green.png"></div>
          <div><img src="../assets/five/orange.png"></div>
    </div>
    <div class="set set3">
      <div><img src="../assetsfive/five/yellow.png"></div>
      <div><img src="../assets/five/blue.png"></div>
      <div><img src="../assets/five/green.png"></div>
      <div><img src="../assets/five/orange.png"></div>
      <div><img src="../assets/five/yellow.png"></div>
      <div><img src="../assets/five/blue.png"></div>
      <div><img src="../assets/five/green.png"></div>
      <div><img src="../assets/five/orange.png"></div>
    </div>
    </section> 
    </div>
    
    <body>
      <div class="a">
      <div *ngIf="val">
      <img src="../assets/five/hbd.gif" style="padding-left: 280px;padding-top: 50px;">
    </div>
    </div>
    
    <div *ngIf="!val">
    <div class="card font1">
      <div class="back"></div>
      <div class="front">
        <div class="cover-shape-large">
          <div class="shape-diamond"></div>
          <div class="shape-block"></div>
        </div>
        <div class="cover-shape-small">
          <div class="shape-diamond"></div>
          <div class="shape-block">
            <h2><i> Happy <br>Bithday <br>bhayya! </i></h2>
            <h1>-CIE</h1>
    
            <div class="cake">
              
             
              <!-- <div class="layer layer-bottom"></div>
              <div class="layer layer-middle"></div>
              <div class="layer layer-top"></div>
              <div class="icing"></div>
              <div class="drip drip1"></div>
              <div class="drip drip2"></div>
              <div class="drip drip3"></div>
              <div class="candle">
                <div class="flame"></div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      
      <div class="text-container">
        <p id="head">Words are not enough to express our gratitude!</p>
        <p> A single talk to u makes us to realize the reality of life !! Helps us to be more productive nd responsible...
          Turns our state of mind from NO to YES,CONFUSION to CLARITY,SAD to HAPPY,CRY to SMILE,HATRED to LOVE,REVANGE to FOREGIVENESS.....
          Helps us to solve the problems by showing all its possible shades....U show the light in the darkness of our lives.
          <br>
          We are always blown away by ur higher mind nd thoughtful actions.<br>
          May u reach more nd more people nd teach this life changing lessons ...
          

        </p> 

          
          <!-- <span class="strikethrough">Handcrafted</span> Handcoded from scratch just for you. -->
       
      </div>
    </div>
    </div>
 
    </body>
    
    
