
<div class="bal"> 
    <div class="content"><div class="c1">Without ur presence we r immbalance </div></div>
    <div class="balance">
          
        <span><div class="con">spirituality</div></span>
        <span><div class="con">Education</div></span>
        <span><div class="con">Family </div></span>
        <span><div class="con">Success</div></span>
        <span><div class="con">Service </div></span>
        <span><div class="con">Friends</div></span>
        
    </div>
    
    </div>

    <img class="bw1" src="../assets/threeImg/bw1.gif" alt="">
    
    <!-- .bal:hover .c1{
        display: none;
        /* content: "With ur presence we xplore more"; */
    
    }
    .bal:hover:before{
        /* display: none; */
        content: "With ur presence we xplore more & stay balanced";
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 32px;
        color: black;
        text-align: center;
        padding-left: 30%;
    } -->











<div class="wish">A Small Presentation ....</div>

<section>
    <video src="../../assets/twoImg/vid1.mp4" autoplay="" muted=""></video>

<div class="box">
    <div>
        <span> <video src="../../assets/twoImg/vid1.mp4" autoplay="" muted="" loop=""></video> </span>
        <span> <video src="../../assets/twoImg/vid1.mp4" autoplay="" muted="" loop=""></video> </span>
        <span> <video src="../../assets/twoImg/vid1.mp4" autoplay="" muted="" loop=""></video> </span>
        
    </div>
</div>

</section>



