<div class="display1">
    <img src="../../assets/twoImg/img1GQ.jpg" alt="" class="img1">
    <img src="../../assets/twoImg/img1GQ.jpg" alt=""class="img2">
    <img src="../../assets/twoImg/img1GQ.jpg" alt=""class="img3">
</div>

<!-- <audio controls preload loop autoplay id="myAudio" class="aud">
    <source src="../assets/aud/frnd.mp3" type="audio/mpeg">
     Your browser does not support the HTML5 audio tag.
</audio>  -->

<button class="btn1" *ngIf="btn1" (click)="showfun()" >click here</button>

<img class="feth1" src="../assets/threeImg/cube1.3.gif" alt="">
<img class="feth2" src="../assets/threeImg/cube1.3.gif" alt="">
<img class="feth3" src="../assets/threeImg/cube1.3.gif" alt="">

<div class="wrapper">
    <div class="box-area">
        <div class="box1"></div>
        <div class="box2"></div>
        <div class="box3"></div>
        <div class="box4"></div>
        <div class="box5"></div>
        <div class="box6"></div>
    </div>
</div>



<img *ngIf="show" class="q1" src="../assets/threeImg/qut1.jpg" alt="">
<div *ngIf="show" class="text1S">
    <h3>Take every <br>opportunity to<br> learn more and <br>more not to achieve...</h3>
    <p>-Sudharshan</p>
</div>


<div class="blocks" *ngIf="show">
<div id="div1">YOU ARE</div>
<div id="div2">THE</div>
<div id="div3">BUILDING BLOCKS</div>
<div id="div4">OF OUR</div>
<div id="div5">LIFE</div>
</div>

<div class="drop" *ngIf="show">
    <div class="a0"></div>
    <div class="a1"></div>
    <div class="a2"></div>
    <div class="a3"></div>
    <div class="a4"></div>
    <div class="a5"></div>
    <div class="a6"></div>
    <div class="aa0"></div>
    <div class="aa1"></div>
    <div class="aa2"></div>
    <div class="aa3"></div>
    <div class="aa4"></div>
    <div class="aa5"></div>
    <div class="aa6"></div>
    <div class="aa7"></div>
    <div class="aa8"></div>
    <div class="aa9"></div>

</div>

<div class="blockgif" *ngIf="show">
    <img class="b1" src="../assets/threeImg/block1.1.gif" alt="" width="300px" height="500px">
    <img class="b2" src="../assets/threeImg/block1.gif" alt="">
</div>



<img class="fte"  *ngIf="show" src="../assets/threeImg/flute1.1.png" alt="">
<img class="bdimg"  *ngIf="show"src="../assets/threeImg/bw2.gif" alt="">









