<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="wrapper">
        <div class="img-area">
            <div class="single-img img-one">
                <img src="../assets/twoImg/img1GQ.jpg" alt="img1">
            </div>
            <div class="single-img img-two">
                <img src="../assets/twoImg/img2GQ.jpg" alt="img2">
            </div>
            <div class="single-img img-three">
                <img src="../assets/twoImg/img1GQ.jpg" alt="img3">
            </div>
            <div class="single-img img-four">
                <img src="../assets/twoImg/img2GQ.jpg" alt="img4">
            </div>
            <div class="single-img img-five">
                <img src="../assets/twoImg/img1GQ.jpg" alt="img5">
            </div>
            <div class="single-img img-six">
                <img src="../assets/twoImg/img2GQ.jpg" alt="img6">
            </div>
        </div>
    </div>


</body>
</html>


