<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="wrapper">
        <div class="img-area">
            <div class="single-img img-one">
                <img src="../assets/twoImg/img1GQ.jpg" alt="img1">
            </div>
            <div class="single-img img-two">
                <img src="../assets/twoImg/img2GQ.jpg" alt="img2">
            </div>
            <div class="single-img img-three">
                <img src="../assets/twoImg/img1GQ.jpg" alt="img3">
            </div>
            <div class="single-img img-four">
                <img src="../assets/twoImg/img2GQ.jpg" alt="img4">
            </div>
            <div class="single-img img-five">
                <img src="../assets/twoImg/img1GQ.jpg" alt="img5">
            </div>
            <div class="single-img img-six">
                <img src="../assets/twoImg/img2GQ.jpg" alt="img6">
            </div>
        </div>
    </div>

    <div class="wrapper1">
        <p>r</p>
        <div class="img-area1">
            <div class="single-img img-one1">
                <img src="../assets/twoImg/img1GQ.jpg" alt="img1">
            </div>
            <div class="single-img img-two1">
                <img src="../assets/twoImg/img2GQ.jpg" alt="img2">
            </div>
            <div class="single-img img-three1">
                <img src="../assets/twoImg/img1GQ.jpg" alt="img3">
            </div>
            <div class="single-img img-four1">
                <img src="../assets/twoImg/img2GQ.jpg" alt="img4">
            </div>
            <div class="single-img img-five1">
                <img src="../assets/twoImg/img1GQ.jpg" alt="img5">
            </div>
            <div class="single-img img-six1">
                <img src="../assets/twoImg/img2GQ.jpg" alt="img6">
            </div>
        </div>
    </div>


    <div class="wrapper2">
        <p>r</p>
        <div class="img-area2">
            <div class="single-img img-one2">
                <img src="../assets/twoImg/img1GQ.jpg" alt="img1">
            </div>
            <div class="single-img img-two2">
                <img src="../assets/twoImg/img2GQ.jpg" alt="img2">
            </div>
            <div class="single-img img-three2">
                <img src="../assets/twoImg/img1GQ.jpg" alt="img3">
            </div>
            <div class="single-img img-four2">
                <img src="../assets/twoImg/img2GQ.jpg" alt="img4">
            </div>
            <div class="single-img img-five2">
                <img src="../assets/twoImg/img1GQ.jpg" alt="img5">
            </div>
            <div class="single-img img-six2">
                <img src="../assets/twoImg/img2GQ.jpg" alt="img6">
            </div>
        </div>
    </div>


</body>
</html>


