
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bday</title>
   
</head>
<body style="background-image: url(../assets/images/homebday.jpg);background-repeat: no-repeat; background-size:cover;">
    <div>
        <button class="btn1" (click)="showImage()" >click here</button>
        <img class="img2" *ngIf=catimg src="../assets/images/cartoon1.jpg"/>

        <button class="btn2" *ngIf=ibtn2 (click)="showspk()" >sparkle</button>
        <button class="btn3" *ngIf=ibtn3 (click)="next1()" routerLink="/two">Go =></button>
        
        <img class="i" *ngIf="sk1" src="../assets/images/home.gif"/> 
        <img src="../assets/images/home.gif" style="visibility:hidden"/>
        
        <img class="img1" *ngIf="sk2" src="../assets/images/home_sk.jpg" />
        <img class="sir" *ngIf="sk2" src="../assets/images/sirc1.png" alt="">
        <img class="img3" *ngIf="sk3" src="../assets/images/csp.gif"/>
        
    </div>
    
</body>
</html>














